name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract commit SHA
        id: vars
        run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and tag image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/secure-crud:latest .
          docker tag ${{ secrets.DOCKER_USERNAME }}/secure-crud:latest ${{ secrets.DOCKER_USERNAME }}/secure-crud:${{ steps.vars.outputs.SHA }}

      - name: Push image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/secure-crud:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/secure-crud:${{ steps.vars.outputs.SHA }}
